<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table class="table table-condensed">
  <thead>
    <tr>

      <th>Model</th>
      <th>Variant</th>
      <th>Price</th>
      <th>Description</th>
      <th>BUY</th>

    </tr>
  </thead>

  <tbody>
    <h2>Produtcs</h2>

    <% @products.each do |product| %>
      <tr>

        <td><%=  link_to  product.model, product%></td>
        <td><%= product.variant%></td>
        <td><%= product.price%></td>
        <td><%= product.sdes%></td>
 		<td>Add to cart</td>
      </tr>
    <% end %>

    


 

  </tbody>
</table>


</body>
</html>
